.header-detailroom {
    height: 40px;

}

.content-detailroom {
    height: calc(100vh - 40px);
    padding: 0 20px;
    text-align: center;


    .info-user {
        .info {

            .ant-table-tbody {
                .ant-table-cell {
                    padding: 5px 16px;

                    .avatar {
                        height: 70px;
                        width: 70px;
                        object-fit: cover;
                        border-radius: 100px;
                        border: 1px solid black;
                    }
                }
            }

        }
    }

    .expense-detail {
        .icon-disabled {
            height: 30px;
            width: 30px;
            object-fit: contain;
        }

        .edit {
            display: flex;
            gap: 10px;
            justify-content: center;

            .icon {
                display: flex;
                align-items: center;
            }

            a[disabled] {
                color: rgba(0, 0, 0, 0.25);
                cursor: not-allowed;

                &.btn-delete {
                    background-color: rgba(238, 58, 78, 0.25);
                    color: rgba(0, 0, 0, 0.25);
                }
            }

        }
    }




}