.layout-admin {
    .admin-header {
        height: 50px;
        border-bottom: 1px solid #ebebeb;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
    }
}

:where(.css-dev-only-do-not-override-mxhywb).ant-layout .ant-layout-sider-light,
:where(.css-dev-only-do-not-override-mxhywb).ant-menu-light,
:where(.css-dev-only-do-not-override-mxhywb).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-mxhywb).ant-layout .ant-layout-sider-light .ant-layout-sider-trigger {
    background-color: #001D57;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
}


:where(.css-dev-only-do-not-override-mxhywb).ant-layout .ant-layout-sider-light {
    width: 300p !important;
    max-width: 300px !important;
    flex: 0 0 260px !important;
    min-width: 260px;
}



:where(.css-dev-only-do-not-override-mxhywb).ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover,
:where(.css-dev-only-do-not-override-mxhywb).ant-menu-light .ant-menu-item-selected {
    background: rgba(255, 255, 255, 0.15);
    width: calc(100% - 16px);
    font-weight: 700;
}

:where(.css-dev-only-do-not-override-mxhywb).ant-menu .ant-menu-item .ant-menu-item-icon {
    font-weight: 700;
}


:where(.css-dev-only-do-not-override-mxhywb).ant-menu .ant-menu-item,
:where(.css-dev-only-do-not-override-mxhywb).ant-menu .ant-menu-submenu,
:where(.css-dev-only-do-not-override-mxhywb).ant-menu .ant-menu-submenu-title {
    border-radius: 0px;
}


:where(.css-dev-only-do-not-override-mxhywb).ant-menu-inline .ant-menu-item {
    height: 48px;
}